$site-neutral: #f9f8eb;
$site-green: #76b39d;
$site-blue: #05004e;
$site-orange: #fd5f00;

$site-white: #fff;

$screen-sm-min: 52.5em;
$screen-mobile: 30em;
$screen-tablet: 48em;
$screen-desktop: 71.25;

$site-primary-gradient: linear-gradient(-30deg, $site-green 38%, $site-blue 60%);
