.detail-highlight {
    background-color: $site-green;
    color: $site-white;
    padding: .475rem;
    font-weight: bold;
    border-radius: .3125rem;
}

.arrow,
.checklist {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: .775rem;

    a {
        color: $site-dark-blue;
        text-decoration: none;

        span {
            display: block;
        }
    }
}

.checklist {
    background-color: $site-white;
    padding: .5rem 1rem;
    transition: all ease .3s;

    &:hover {
        background-color: $site-neutral;
    }
}

.checklist-position {
    display: block;
    margin-left: auto;
    margin-top: 1rem;
}

.left-arrow {
    font-size: 1.2rem
}

.select-wrapper {
    select {
        width: 10rem;
        margin-top: .475rem;
    }
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 2rem;
}

.error, .no-data {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.4rem;
    text-align: center;
}

.emoji {
    font-size: 7rem;
}