.search {
    margin-top: 4rem;

    input {
        width: 100%;
        min-height: 2rem;
        border: .25rem solid $site-dark-blue;
        text-align: center;
        font-size: 1rem;
        
    }
    &__buttons{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}