.header {
    &__wrapper {
        padding: 1rem;
    }

    &__title {
        display: inline-block;
        font-size: 1.4rem;
        background-color: $site-dark-blue;
        padding: 1rem;
        font-family: 'Bowlby One SC', cursive;
        transform: skew(0deg, -5deg);

        a {
            text-decoration: none;
            color: $site-neutral;
            vertical-align: middle;
            letter-spacing: .125rem;
        }
    }
}